[submodule ".registry"]
	path = .registry
	url = https://github.com/mapequation/mapequation.r-universe.dev
	branch = HEAD
[submodule "infomap"]
	path = infomap
	url = https://github.com/mapequation/infomap
	branch = feat/infomapR
	subdir = interfaces/R/infomap
